```yaml
iron_tree:
  version: 1
  task_key: {{ task_key }}
  issue_number: {{ issue_number }}
  spec_revision: {{ spec_revision }}
  approved_revision: {{ approved_revision }}
  sequence: {{ sequence }}
  event: checkup_reconcile_external_close_detected
  current_stage: {{ current_stage }}
  next_stage: none
  workflow_entry_state: blocked
  approval_state: approved
  attempt_count: {{ attempt_count }}
  max_retry_count: {{ max_retry_count }}
  code_publication_state: {{ code_publication_state }}
  pass_fail_outcome: null
  completion_basis: null
  code_ref: null
```
