Task published from spec `{{ spec_path }}` at revision `{{ spec_revision }}`.

```yaml
iron_tree:
  version: 1
  task_key: {{ task_key }}
  issue_number: {{ issue_number }}
  spec_revision: {{ spec_revision }}
  approved_revision: {{ spec_revision }}
  sequence: 1
  event: task_published
  current_stage: definition
  next_stage: {{ next_stage }}
  workflow_entry_state: {{ workflow_entry_state }}
  approval_state: approved
  attempt_count: 0
  max_retry_count: 3
  code_publication_state: not_applicable
  pass_fail_outcome: null
  completion_basis: null
  code_ref: null
```
