loop:
  version: 1
  loop_id: {{ loop_id }}
  sequence: {{ sequence }}
  event: loop_halted
  halt_reason: {{ halt_reason }}
  halt_at_task_key: {{ halt_at_task_key_or_null }}
  transitions_used: {{ transitions_used }}
